$baseColor :rgb(243, 181, 66);
header{
    position: fixed;
    width: 100%;
    padding :20px;
    font-size :1.2rem;
    background-color: $baseColor;
    color: white;
    margin-bottom: 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}